ul.navBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B5658;
}

li.navBarLI {
    float: left;
}

li.navBarLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navBarLI a:hover {
    background-color: #111;
}

.resumeButton {
    background-color: #4B5658;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 8px;
    width: 15%;
}

.contentContainer {
  position: relative;
  margin-left: 100px;
  box-sizing: border-box;
  text-align: left;
}
