ul.navBarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3db0c0;
}

li.navBarLI {
    float: left;
}

li.navBarLI a {
    display: block;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.navBarLI a:hover {
    background-color: #fafafa;
    color: #3db0c0;
}

.activeNav {
    background-color: #fafafa;
    color: #3db0c0;
}

.resumeButton {
    /* background-color: #4B5658; */
    background-color: #fafafa;
    border: none;
    color: #3db0c0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 8px;
    width: 16%;
}

.boldedP {
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.contentContainer {
  position: relative;
  margin-left: 100px;
  box-sizing: border-box;
  text-align: left;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #4B5658;
  width: 100%;
  height: 50px;
}

#Home {
  padding-top: 175px;
  height: 1000px;
}

#About {
  /* padding-top: 100px; */
  height: 1000px;
  padding: 6.25em 12.5em 0em 12.5em;
}

#Experience {
  /* padding-top: 100px; */
  height: 1000px;
  padding: 6.25em 12.5em 0em 12.5em;
}

#Projects {
  /* padding-top: 100px; */
  height: 1000px;
  padding: 6.25em 12.5em 0em 12.5em;
}

#Skills {
  /* padding-top: 100px; */
  height: 1000px;
  padding: 6.25em 12.5em 0em 12.5em;
}

#Contact {
  /* padding-top: 100px; */
  height: 1000px;
  padding: 6.25em 12.5em 0em 12.5em;
}
